title: Portfolio
description: Personal site and projects
url: "https://krnnite.github.io"
baseurl: ""

theme: minima

markdown: kramdown
highlighter: rouge

plugins:
  - jekyll-feed
  - jekyll-seo-tag
