.header {
    background-color: whitesmoke;
}
.headernavbar {
    margin-left: auto;
    margin-right: 14px;
    align-self: center;
    justify-self: center;
}
.headernavbar a {
    background-color: #ffa7e8;
    color: #79c2ff;
    padding: 14px 18px;
    text-decoration-line: none;
    font-weight: bold;
}
.main-content {
    width: 474px;
    margin-left: auto;
    margin-right: auto;
}
p {
    display: inline-block;
    max-width: 100%;
}
.text-content {
    width: 474px
}
.underlined-text {
    text-decoration: underline;
}
.colored-text {
    color: red;
}
.highlighted-text {
    background-color: darkorange;
}