.header {
    background-color: whitesmoke;
}
.headernavbar {
    margin-left: auto;
    margin-right: 14px;
    align-self: center;
    justify-self: center;
}
.headernavbar a {
    background-color: #ffa7e8;
    color: #79c2ff;
    padding: 14px 18px;
    text-decoration-line: none;
    font-weight: bold;
}
.main {
    flex-wrap: wrap;
}
.main-img {
    width: fit-content;
}
.main-description {
    margin-right: auto;
}
.intro-table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}